bin
.idea
tools/wyvern-tools.iml
*.class
*.prefs
tools/.classpath
tools/src/wyvern/tools/parsing/Wyvern.java
tools/src/wyvern/tools/parsing/quotelang/WyvernQuote.java
tools/src/wyvern/tools/tests/utils/TestSuiteParser.java
tools/copper-output.txt
tools/copper-quotes-output.txt
tools/copper-tests-output.txt
